<!DOCTYPE html>
<html>
    <head>
        <title>learn js</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='streaming/streaming.css')}}">
    </head>
    <body>
        <div id="nav">
            <a href="/"><div class="navbar" id="n1"><h>home</h></div></a>
            <a href="/user/daftar"><div class="navbar" id="n2"><h>daftar</h></div></a>
            <a href="/user/login"><div class="navbar" id="n3"><h>login</h></div></a>
        </div>
        <div class="div_str">
            <iframe id='i1'src="https://drive.google.com/file/d/1VFxerb-e1Hce2kLYwVJkvkSr8tDIVuze/preview" allowfullscreen frameborder="0" allow="accelerometer; autoplay; gyroscope"></iframe>
        </div>
        <script src="{{url_for('static', filename='streaming/streaming.js')}}"></script>
    </body>
</html>