<!DOCTYPE html>
<html>
    <head>
        <title>smaddok</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='streaming/streaming.css')}}">
    </head>
    <body>
        <div id="nav">
            <a href="/"><div class="navbar" id="n1"><h>home</h></div></a>
            <a href="/user/daftar"><div class="navbar" id="n2"><h>daftar</h></div></a>
            <a href="/user/login"><div class="navbar" id="n3"><h>login</h></div></a>
        </div>
        <div class="div_str">
            <iframe id='i1'src="https://drive.google.com/file/d/1oou2lSI94SR_OQ3lgNvZM1cEBBwmwaTz/preview" allowfullscreen frameborder="0" allow="accelerometer; autoplay; gyroscope"></iframe>
        </div>
        <div id="des">
            <h1 id="judul">A Silence Voice</h1>
        </div>
        <div id="core">
            <div id="cmd_b">
                <div id="inp">
                    <input id ='type' type="text" placeholder="komen.....">
                    <button id="kirim" type="submit">▶</button>
                </div>
                <div id="cmd"></div>
            </div>
        </div>
        <script src="{{url_for('static', filename='streaming/streaming.js')}}"></script>
    </body>
</html>