<!DOCTYPE html>
<html>
    <head>
        <title>learn js</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='utama/utama.css')}}">
    </head>
    <body>
        <div id="nav">
            <a href="/"><div class="navbar" id="n1"><h>home</h></div></a>
            <a href="/user/daftar"><div class="navbar" id="n2"><h>daftar</h></div></a>
            <a href="/user/login"><div class="navbar" id="n3"><h>login</h></div></a>
        </div>
        <div id="imgbase">
            <a href="/content/streaming">
                <div class="imgBox-h" id="imgBox3">
                    <h1 class="h-img">nonton</h1>
                </div>
                <div class="imgBox" id="imgBox1">
                    <img class="imgc" id="img1" src="{{url_for('static',filename='utama/media utama/3.png')}}">
                </div>
            </a>
            <a href="/content/vote">
                <div class="imgBox-h" id="imgBox4">
                    <h1 class="h-img">vote</h1>
                </div>
                <div class="imgBox" id="imgBox2">
                    <img class="imgc" id="img2" src="{{url_for('static',filename='utama/media utama/4.png')}}">
                </div>
            </a>
            
        </div>
        <script src="{{url_for('static', filename='utama/utama.js')}}"></script>
    </body>
</html>