body {
    font-family:'Comic Sans MS','Comic Sans',cursive;
    padding: 0;
    margin: 0;
    width: 100vw;
    height:100%;
    position:absolute;
    /* background-color: rgb(255, 0, 0); */
    background-image: radial-gradient(circle, rgb(0, 0, 0) 20%, rgb(16, 64, 103) 100%);
    background-attachment:fixed;
}

/* div{
    background-color: rgba(57, 70, 81, 0.315);
} */

#nav{
    background-color: rgb(51, 30, 132);
    width: 100%;
    height: 7vh;
    position: fixed;
    z-index: 0;
}
.navbar{
    position: absolute;
    background-color: rgb(1, 170, 144);
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    top: 1.2vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#n1{
    background-color: rgb(31, 172, 83);
    left:0;
    top: 0;
    border: 0;
    border-radius: 0 0 25px 0;
    height: 7vh;
    width: 100px;
    font-size: 1.3rem;
}
#n2{
    right: 20vh;
}
#n3{
    right:5vh;
}


#daftar{
    width:35vw;
    height:50vh;
    background-color: rgb(17, 79, 67);
    margin-top:20vh;
    border-radius: 40px;
    justify-self: center;
    position: absolute;
    box-shadow:4px 4px 10px -2px rgba(255, 255, 255, 0.566); 
}


#h_daftar{
    /* background-color: rgba(0, 255, 255, 0.648); */
    color: rgb(255, 255, 255);
    justify-self: center;
    padding-top:10px;
    font-size: 2rem;
}

#nama{
    width: 230px;
    height:40px;
    border-radius: 15px;
    font-family: 'Comic Sans MS','Comic Sans',cursive;
    font-size:1rem;
    border:none;
    padding-left: 30px;
    margin-top:20px;
}
#input1{
    justify-self: center;
}

#password{
    width: 230px;
    height:40px;
    border-radius: 15px;
    font-family: 'Comic Sans MS','Comic Sans',cursive;
    font-size:1rem;
    border:none;
    padding-left: 30px;
    margin-top: 30px;
}
#input2{
    justify-self: center;
}

#submit{
    font-family: 'Comic Sans MS','Comic Sans',cursive;
    width:100px;
    height:30px;
    border-radius:20px;
    border:none;
    font-weight:bold ;
}
#submit_box{
    margin-top:30px;
    justify-self: center;
}