body {
    font-family:'Comic Sans MS','Comic Sans',cursive;
    padding: 0;
    margin: 0;
    width: 100vw;
    height:100%;
    position:absolute;
    /* background-color: rgb(255, 0, 0); */
    background-image: radial-gradient(circle, rgb(0, 0, 0) 20%, rgb(16, 64, 103) 100%);
    background-attachment:fixed;
    z-index: -9999;
}
/* ----------membuat bentuk mengikuti gambar----------- */
/* background-color: white;
mask-image: url("media utama/4.png");
mask-size: contain;
mask-repeat: no-repeat;
mask-position: center; */

/* div{
    background-color: rgba(57, 70, 81, 0.315);
} */
a{
    text-decoration:none;
    color: inherit;
}
#nav{
    background-color: rgb(51, 30, 132);
    width: 100%;
    height: 7vh;
    position: fixed;
    z-index: 0;
}
.navbar{
    position: absolute;
    background-color: rgb(1, 170, 144);
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    top: 1.2vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#n1{
    background-color: rgb(31, 172, 83);
    left:0;
    top: 0;
    border: 0;
    border-radius: 0 0 25px 0;
    height: 7vh;
    width: 100px;
    font-size: 1.3rem;
}
#n2{
    right: 20vh;
}
#n3{
    right:5vh;
}
#imgbase{
    position: relative;
    width: 100%;
    height:30vh;
    /* background-color: rgba(165, 42, 42, 0.579); */
    z-index:-10;
}
.imgBox{
    background-color: rgb(53, 172, 156);
    opacity: 55%;
    width: 10vw;
    height:10vw;
    position: absolute;
    padding: 5vw;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBox:hover{
    opacity: 100%;
}

#imgBox1{
    top: 25vh;
    left: 20vw;
}
#imgBox2{
    top: 25vh;
    right: 20vw;
}
.imgc{
    width: 10vw;
    height: auto;
}

.h-img{
    opacity: 100%;
    position: absolute;
    top:9em;
    color: white;
}

#imgBox3{
    top: 25vh;
    left: 20vw;
}
#imgBox4{
    top: 25vh;
    right: 20vw;
}

.imgBox-h{
    width: 10vw;
    height:10vw;
    position: absolute;
    padding: 5vw;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -20;
}