body {
    font-family:'Comic Sans MS','Comic Sans',cursive;
    padding: 0;
    margin: 0;
    width: 100%;
    height:100%;
    position:absolute;
    /* background-color: rgb(255, 0, 0); */
    background-image: radial-gradient(circle, rgb(0, 0, 0) 20%, rgb(16, 64, 103) 100%);
    background-attachment:fixed;
}
/* div{
    background-color: rgba(57, 70, 81, 0.315);
} */

#nav{
    background-color: rgb(51, 30, 132);
    width: 100%;
    height: 7vh;
    position: fixed;
    z-index: 5;
    transition: top 0.3 ease;
}
.navbar{
    position: absolute;
    background-color: rgb(1, 170, 144);
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    top: 1.2vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#n1{
    background-color: rgb(31, 172, 83);
    left:0;
    top: 0;
    border: 0;
    border-radius: 0 0 25px 0;
    height: 7vh;
    width: 100px;
    font-size: 1.3rem;
}
#n2{
    right: 20vh;
}
#n3{
    right:5vh;
}


#ask{
    color:rgba(255, 255, 255, 0.84);
    justify-self: center;
    margin:1em 0em 1em 0em;
}
.h-1{
    background-color: rgba(57, 57, 57, 0.413);
    color:rgb(150, 208, 215);    
    padding: 2px 10px 2px 10px;
    border-radius: 18px;
    justify-self: center;
}
.div-h{
    width: 5em;
}
#div1{
    display:flex;
    flex-direction: row;
    gap: 11.5em;
    width: 100%;
    justify-content: center;
    margin:1em 0em 1em 0em;
}
#div2{
    height: 20em;
    width: 100%;
    display:flex;
    flex-direction: row;
    gap: 0em;
    justify-content: center;
    align-items: center;
    margin:1em 0em 1em 0em;
}
#div3{
    display:flex;
    flex-direction: row;
    gap: 13em;
    justify-content: center;
    margin:2em 0em 1em 0em;
    
}
.div-1{
    width: 17em;
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    align-self: center;
    justify-content: center;
}


@keyframes idley {
    0%{
        transform: translateY(0px);
    }
    
    100%{
        transform: translatey(10px);
    }

}

.img1{
    animation: idley 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
    border-radius: 80px;
    opacity: 80%;
    width: 80%;
    height: 80%;
    transition: 0.2s;
}
.img1:hover{
    width: 85%;
    height: 85%;
    transition: 0.4s;
    opacity:100%;
    border-radius: 10px;
}

.btn-1{
     color: white;
     padding: 3px 8px 3px 8px;
     font-size: 130%;
     border:2px rgb(31, 30, 30);
     border-style:solid;
     border-radius: 7px;
     background-image: linear-gradient(to right, #ff000084, #0026ff9c);
     opacity: 80%;
}

.btn-1:hover{
    background-image: linear-gradient(to right, #ff000098, #0026ffac);
    opacity: 100%;
}

.btn-1:active{
    background-image: linear-gradient(to right, #ff0000de, #0026ff);
    opacity: 100%;
}

.div_str{
    background-color: rgba(0, 255, 255, 0.387);
    position: relative;
    top: 8vh;
    left: 1vw;
    width:fit-content;
    height:fit-content;
}
#i1{
    position: absolute;
    width: 50vw;
    height: 28vw;
    border-radius: 10px;
}

#des{
    position:relative;
    background-color: rgba(24, 24, 24, 0.841);
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    left: 1vw;
    top: 65vh;
    z-index:-2;
}
#judul{
    position: relative;
    color:rgb(196, 196, 196);
    font-size: 1.6rem;
    top:5px;
    left: 15px;

}

#core{
    /* background-color: aqua; */
    position: absolute;
    right: 0;
    top:0;
}

#cmd_b{
    background-color:rgba(24, 24, 24, 0.841) ;
    position: relative;
    right: 1vw;
    top:8vh;
    border-radius:10px;
    height:210vh;
    width:46vw;
}

#inp{
    background-color: rgba(5, 5, 5, 0.841);
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 10px;
}
#type{
    position: absolute;
    top: 9px;
    height: 30px;
    width:300px;
    left: 20px;
    border:none;
    border-radius: 15px;
    
}
#type,textarea{
    color:rgb(196, 196, 196);
    font-family:'Comic Sans MS','Comic Sans',cursive;
    padding-left: 8px;
    background-color: rgba(24, 24, 24, 0.841);
}

#type::placeholder{
    position:relative;
    font-family:'Comic Sans MS','Comic Sans',cursive;
}

#kirim{
    color:white;
    background-color: rgba(0, 220, 220, 0.676);
    position: relative;
    top: 9px;
    height: 30px;
    width:30px;
    left: 340px;
    border:none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#kirim:hover{
    background-color:rgb(0, 218, 218);
}
